@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.card {
  width: 800px;
  height: 450px;
  display: grid;
  grid-template-columns: 1fr 0.03fr 3fr;
  margin: 50px 0;
  font-family: 'Poppins';
}

.vertical {
  border-left: 5px solid white;
  height: 450px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: space-around;
  padding: 5px;
  font-weight: bold;
}

.left img {
  width: 180px;
  padding: 3px;
}

.softeam {
  height: 150px;
}

.softeam__texto {
  font-size: 33px;
}

.right {
  font-size: 25px;
  color: white;
  padding-left: 20px;
}

.right h1 {
  padding: 0 10px;
}
