@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.card {
  width: 540px;
  border-radius: 10px;
  height: 350px;
  display: grid;
  grid-template-columns: 1fr 0.03fr 3fr;
  font-family: 'Poppins';
}

.vertical {
  border-left: 5px solid yellow;
  height: 350px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 44);
  justify-content: space-around;
  padding: 5px;
  font-weight: bold;
}


.left img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.bugados__texto {
  font-size: 30px;
}

.right {
  font-size: 25px;
  color: white;
  padding-left: 20px;
}

.right h1 {
  font-size: larger;
  padding: 0 10px;
  text-align: center;
}

.right h2{
  padding-top: 30px;
  text-align: start;
  padding: 10px;
}

@media screen and (min-width: 600px) and (max-width: 640px){
  .card {
    width: 520px;
    height: 350px;
  }
}
@media screen and (min-width: 560px) and (max-width: 599px){
  .card {
    width: 480px;
    height: 350px;
  }
}
@media screen and (min-width: 520px) and (max-width: 559px){
  .card {
    width: 440px;
    height: 350px;
  }
}
@media screen and (min-width: 480px) and (max-width: 519px){
  .card {
    width: 400px;
    height: 350px;
  }
}
@media screen and (min-width: 440px) and (max-width: 479px){
  .card {
    width: 370px;
    height: 340px;
  }
  .vertical {
    height: 340px;
  }
  .left{
    width: 100px;
  }
}
@media screen and (min-width: 421px) and (max-width: 439px){
  .card {
    width: 340px;
    height: 250px;
  }
  .vertical {
    height: 250px;
  }
  .left {
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 44);
    justify-content: space-around;
    padding: 3px;
    font-weight: bold;
  }
  .left img {
    width: 70px;
    height: 80px;
    border-radius: 10px;
  }
  .right {
    padding-left: 20px;
    font-size: 14px;
  }
  .right h1 {
    font-size: large;
    padding: 0 10px;
  }
}
@media screen and (min-width: 400px) and (max-width: 420px){
  .card {
    width: 320px;
    height: 250px;
  }
  .vertical {
    height: 250px;
  }
  .left {
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 44);
    justify-content: space-around;
    padding: 3px;
    font-weight: bold;
  }
  .left img {
    width: 7  0px;
    height: 80px;
    border-radius: 10px;
  }
  .right {
    padding-left: 20px;
    font-size: 14px;
  }
  .right h1 {
    font-size: large;
    padding: 0 10px;
  }
}
@media screen and (min-width: 380px) and (max-width: 399px){
  .card {
    width: 300px;
    height: 250px;
  }
  .vertical {
    height: 250px;
  }
  .left {
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 44);
    justify-content: space-around;
    padding: 2px;
    font-weight: bold;
  }
  .left img {
    width: 60px;
    height: 80px;
    border-radius: 10px;
  }
  .right {
    padding-left: 20px;
    font-size: 14px;
  }
  .right h1 {
    font-size: large;
    padding: 0 10px;
  }
}
@media screen and (min-width: 360px) and (max-width: 379px){
  .card {
    width: 280px;
    height: 250px;
  }
  .vertical {
    height: 250px;
  }
  .left {
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 44);
    justify-content: space-around;
    padding: 2px;
    font-weight: bold;
  }
  .left img {
    width: 60px;
    height: 80px;
    border-radius: 10px;
  }
  .right {
    padding-left: 20px;
    font-size: 14px;
  }
  .right h1 {
    font-size: large;
    padding: 0 10px;
  }
}
@media screen and (min-width: 330px) and (max-width: 359px){
  .card {
    width: 260px;
    height: 250px;
  }
  .vertical {
    height: 250px;
  }
  .left {
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 44);
    justify-content: space-around;
    padding: 1px;
    font-weight: bold;
  }
  .left img {
    width: 60px;
    height: 80px;
    border-radius: 10px;
  }
  .right {
    padding-left: 2px;
    font-size: 14px;
  }
  .right h1 {
    font-size: large;
    padding: 0 10px;
  }
}
@media screen and (min-width: 301px) and (max-width: 329px){
  .card {
    width: 230px;
    height: 230px;
  }
  .vertical {
    height: 230px;
  }
  .left {
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 44);
    justify-content: space-around;
    padding: 0px;
    font-weight: bold;
  }
  .left img {
    width: 60px;
    height: 80px;
    border-radius: 10px;
  }
  .right {
    padding-left: 2px;
    font-size: 14px;
  }
  .right h1 {
    font-size: medium;
    padding: 0 10px;
  }
}

@media screen and (min-width: 280px) and (max-width: 300px){
  .card {
    width: 200px;
    height: 230px;
  }
  .vertical {
    height: 230px;
  }
  .left {
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 44);
    justify-content: space-around;
    padding: 0px;
    font-weight: bold;
  }
  .left img {
    width: 60px;
    height: 70px;
    border-radius: 10px;
  }
  .right {
    padding-left: 2px;
    font-size: 14px;
  }
  .right h1 {
    font-size: medium;
    padding: 0 10px;
    text-align: center;
  }
}