.card {
    display: grid;
    grid-template-columns: 1fr 0.03fr 3fr;
    width: 800px;
    height: 400px;
  }
  
  .vertical {
    border-left: 5px solid white;
    height: 430px;
  }
  
  .left {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #bb6197;
    text-align: center;
    color: white;
    font-size: 20px;
  }
  
  .right {
    font-size: 22px;
    background-image: linear-gradient(to right, #a23e7a 40%, #983e7e, #723a81);
    color: white;
    padding-left: 20px;
  }
  
  .right h1 {
    padding: 0 10px;
  }