*{
    margin: 0;
    padding: 0;
}

hr{
    border-color: #4489EC;
}

.cards{
    margin-top: 10px;
}

.dados-curriculo{
    box-shadow: 5px 5px 15px;
    padding: 5px;
    width: 320px;
    margin: auto;
    margin-left: 0%;
    align-items: start;
    justify-content: start;
    border-radius: 10px;
    display: inline-block;
}

.titulo-dados-curriculo{
    text-decoration: underline;
    color: #4489EC;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 25px;
}

.info-dados-curriculo{
    font-size: 12px;
    padding: 5px;
    font-weight: bold;
}

.estrutura-curricular{
    width: 800px;
    box-shadow: 5px 5px 15px;
    border-radius: 10px;
    display: inline-block;
    margin-left: 20px;
    padding: 10px;
}

.titulo-estrutura-curricular{
    text-decoration: underline;
    color: #4489EC;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

.subtitulo-estrutura-curricular{
    color: #4489EC;
}

.info-dados-estrutura{
    padding-top: 12px;
    font-weight: bold;
}

.requisitos{
    width: 1050px;
    margin: auto;
    padding: 40px;
}

.chefe-curso{
    text-align: center;
    align-items: center;
    justify-content: center;

}

.icone-chefe-curso{
    text-align: center;
    margin: auto;
    width: 120px;
    border-radius: 100px;
    height: 120px;
}

@media (min-width: 280px) and (max-width: 300px){
    .dados-curriculo{
        margin-left: 40px;
        margin-bottom: 20px;
        width: 200px;
    } 
    .estrutura-curricular{
        width: 200px;
        margin-left: 40px;
    }
    .info-dados-curriculo{
        font-size: 10px;

    }
    .info-dados-estrutura{
        font-size: 10px;

    }
    .requisitos{
        width: 280px;
    }
    .titulo-estrutura-curricular{
        font-size: 1rem;
    }
    .titulo-dados-curriculo{
        font-size: 15px;
    }
    .subtitulo-estrutura-curricular{
        font-size: 15px;
    }
}

@media (min-width: 301px) and (max-width: 349px){
    .dados-curriculo{
        margin-left: 50px;
        margin-bottom: 20px;
        width: 230px;
    } 
    .estrutura-curricular{
        width: 230px;
        margin-left: 50px;
        margin-right: 10px;

    }
    .info-dados-curriculo{
        font-size: 10px;

    }
    .info-dados-estrutura{
        font-size: 10px;

    }
    .requisitos{
        width: 300px;
    }
    .titulo-estrutura-curricular{
        font-size: 1rem;
    }
    .titulo-dados-curriculo{
        font-size: 15px;
    }
    .subtitulo-estrutura-curricular{
        font-size: 15px;
    }
}

@media (min-width: 350px) and (max-width: 370px){
    .dados-curriculo{
        margin-left: 50px;
        margin-bottom: 20px;
        width: 250px;
    } 
    .estrutura-curricular{
        width: 250px;
        margin-left: 50px;

    }
    .info-dados-estrutura{
        font-size: 12px;

    }
    .info-dados-curriculo{
        font-size: 12px;

    }
    .requisitos{
        width: 340px;
    }
    .titulo-estrutura-curricular{
        font-size: 1rem;
    }
    .titulo-dados-curriculo{
        font-size: 15px;
    }
    .subtitulo-estrutura-curricular{
        font-size: 15px;
    }
}

@media (min-width: 371px) and (max-width: 400px){
    .dados-curriculo{
        margin-left: 50px;
        margin-bottom: 20px;
        width: 280px;
    } 
    .estrutura-curricular{
        width: 280px;
        margin-left: 50px;

    }
    .info-dados-estrutura{
        font-size: 13px;

    }
    .info-dados-curriculo{
        font-size: 13px;

    }
    .requisitos{
        width: 360px;
    }
    .titulo-estrutura-curricular{
        font-size: 1.1rem;
    }
    .titulo-dados-curriculo{
        font-size: 18px;
    }
    .subtitulo-estrutura-curricular{
        font-size: 18px;
    }
}

@media (min-width: 401px) and (max-width: 440px){
    .dados-curriculo{
        margin-left: 40px;
        margin-bottom: 20px;
        width: 350px;
    } 
    .estrutura-curricular{
        width: 350px;
        margin-left: 40px;

    }
    .info-dados-estrutura{
        font-size: 13px;

    }
    .info-dados-curriculo{
        font-size: 13px;

    }
    .requisitos{
        width: 400px;
    }
    .titulo-estrutura-curricular{
        font-size: 1rem;
    }
    .titulo-dados-curriculo{
        font-size: 18px;
    }
    .subtitulo-estrutura-curricular{
        font-size: 18px;
    }
}

@media (min-width: 441px) and (max-width: 480px){
    .dados-curriculo{
        margin-left: 60px;
        margin-bottom: 20px;
        width: 350px;
    } 
    .estrutura-curricular{
        width: 350px;
        margin-left: 60px;

    }
    .info-dados-estrutura{
        font-size: 13px;

    }
    .info-dados-curriculo{
        font-size: 13px;

    }
    .requisitos{
        width: 400px;
    }
    .titulo-estrutura-curricular{
        font-size: 1rem;
    }
    .titulo-dados-curriculo{
        font-size: 18px;
    }
    .subtitulo-estrutura-curricular{
        font-size: 18px;
    }
}

@media (min-width: 481px) and (max-width: 510px){
    .dados-curriculo{
        margin-left: 50px;
        margin-bottom: 20px;
        width: 400px;
    } 
    .estrutura-curricular{
        width: 400px;
        margin-left: 50px;

    }
    .info-dados-estrutura{
        font-size: 12px;

    }
    .requisitos{
        width: 480px;
    }

}

@media (min-width: 511px) and (max-width: 550px){
    .dados-curriculo{
        margin-left: 70px;
        margin-bottom: 20px;
        width: 400px;
    } 
    .estrutura-curricular{
        width: 400px;
        margin-left: 70px;

    }
    .info-dados-estrutura{
        font-size: 12px;

    }
    .requisitos{
        width: 480px;
    }

}

@media (min-width: 551px) and (max-width: 620px){
    .dados-curriculo{
        margin-left: 90px;
        margin-bottom: 20px;
        width: 400px;
    } 
    .estrutura-curricular{
        width: 400px;
        margin-left: 90px;

    }
    .info-dados-estrutura{
        font-size: 14px;

    }
    .requisitos{
        width: 550px;
    }

}

@media (min-width: 621px) and (max-width: 749px){
    .dados-curriculo{
        margin-left: 80px;
        margin-bottom: 20px;
        width: 490px;
    } 
    .estrutura-curricular{
        width: 490px;
        margin-left: 80px;

    }
    .info-dados-estrutura{
        font-size: 14px;

    }
    .requisitos{
        width: 620px;
    }

}

@media (min-width: 661px) and (max-width: 749px){
    .dados-curriculo{
        margin-left: 100px;
        margin-bottom: 20px;
        width: 490px;
    } 
    .estrutura-curricular{
        width: 490px;
        margin-left: 100px;

    }
    .info-dados-estrutura{
        font-size: 14px;

    }
    .requisitos{
        width: 660px;
    }

}

@media (min-width: 750px) and (max-width: 849px){
    .dados-curriculo{
        margin-left: 130px;
        margin-bottom: 20px;
        width: 550px;
    } 
    .estrutura-curricular{
        width: 550px;
        margin-left: 130px;

    }
    .info-dados-estrutura{
        font-size: 14px;

    }
    .requisitos{
        width: 750px;
    }

}

@media (min-width: 850px) and (max-width: 1140px){
    .dados-curriculo{
        margin-left: 10px;
        margin-bottom: 10px;
        width: 320px;
    } 
    .estrutura-curricular{
        width: 490px;
        margin-left: 20px;
    }
    .info-dados-estrutura{
        font-size: 16px;
    }
    .requisitos{
        width: 850px;
    }

}