.about__us {
  width: 80%;
  margin: auto;
  padding: 70px 0;
}
.about__col {
  flex-basis: 48%;
  padding: 30px 2px;
}

.about__col img {
  width: 100%;
}

.about__col h1 {
  padding-top: 0;
  font-weight: bold;
  font-size: 42px;
}

.about__col p {
  padding: 15px 0 25px;
  text-align: justify;
  font-size: 15px;
}

.explore {
  border: 1px solid blue;
  background: transparent;
  color: blue;
  height: 55px;
  width: 180px;
}

.row {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 15px;
  justify-content: space-between;
}

.row img {
  padding: 0 20px;
}

/* button:hover {
  background-color: blue;
  border: 2px solid blue;
  color: white;
  transition: all 0.5s ease-in;
  transition-delay: 0.05s;
}

button:hover:after {
  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  text-rendering: auto;
} */